.video-background-holder {
    position: relative;
    background-color: black;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
.video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
.video-background-content {
    position: relative;
    z-index: 2;
}
  
.video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    z-index: 1;
}
code {
    padding: 0 0.15rem;
    background: #f5f5f5;
    border-radius: 0.2rem;
}

[data-toggle="collapse"]:after {
    position: relative;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: rotate(90deg) ;
    transition: all linear 0.25s;
}   
[data-toggle="collapse"].collapsed:after {
    transform: rotate(0deg) ;
}

.card {
    
    border-radius: 5px; 
    border: 1.5px solid #1b1b1b; 
    background-color: #2a2a2a; 
    margin-bottom: 7px;
    outline: none;
    cursor: pointer;
    color: white;
    transition: background-color 1 linear;
}

.card:hover {
    background-color: #2e2e2e;
}

.search {
    width: 300px;
    float: right;
}
.collapse-all {
    background-color:#313131;
}

.body2 {
    position: relative
}

.button {
    margin-left: 460px;
}

.button1 {
    position: relative;
    margin-right: 15px;
}

.h1s {
    margin-left: 57px;
}

.Social {
    margin-left: 400px;
}

hr {
    background-color:#d5b638; 
    border: 1px solid #d5b638; 
    border-radius: 7px;
}

footer {
    background-color: #1c1c1c; 
    color: rgb(121, 121, 121); 
    font-size: 12px; 
    position: left;
}
.textsocial {
    color: white;
    text-align: center;
}

.icon-bar-2 {
    margin-left: 123px;
    font-size: 25px;
    color: #1b1b1b;
}

.icon-bar {
    font-size: 25px;
    color: #1b1b1b;
}

.instagram:hover {
    color: #fff7d7;
}

.instagram {
    margin-right: 15px;
    color: #d5b638;
}

.twitter{
    margin-right: 15px;
    color: #d5b638;
}

.twitter:hover {
    color: #fff7d7;
}

.youtube {
    color: #d5b638;
}

.youtube:hover {
    color: #fff7d7;
}



.instagram2:hover {
    color: #fff7d7;
}

.instagram2 {
    font-size: 20px;
    margin-right: 15px;
    color: #d5b638;
}

.twitter2{
    font-size: 20px;
    margin-right: 15px;
    color: #d5b638;
}

.twitter2:hover {
    color: #fff7d7;
}

.youtube2 {
    font-size: 20px;
    color: #d5b638;
}

.youtube2:hover {
    color: #fff7d7;
}


.section {
    height: 600px;
    width: 100%;
}

.deskripsi {
    margin-top: 140px;
}

.navbar .navbar-nav .nav-link {
    color: #d5b638;
}

.navbar .navbar-nav .nav-link:hover {
    color: #75662a;
}

.navbar-light .navbar-brand {
    color: #FFFFFF;
}

.navbar-light .navbar-brand:hover {
    color: rgb(228, 228, 228);
}

.miqc12 {
    color: #d5b638;
    text-decoration: none;
}

.miqc12:hover {
    text-decoration:none;
    color: #fffae7;
}

section {
    border-top: 2px solid #d5b638;
}

.commands {
    color: #000000;
    text-decoration: none;
}

.commands:hover {
    text-decoration: none;
    color:#646464;
}
